p{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    width: 350px;
    height: 370px;
}

.meme{
  justify-content: center;
  align-items: center;
}
/* Стили для выпадающего списка */
.meme1 {
    position: relative;
    display: inline-block;
  }
  
  /* Стили для кнопки */
  .btn {
    background-color: white;
    color: blue;
    padding: 12px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    cursor: pointer;
    border-radius: 50px;
  }



  .btn:hover{
    color: black;
  }
  
  /* Стили для содержимого выпадающего списка */
  .meme-content {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 50px;

}


  /* Показать содержимое выпадающего списка при нажатии на кнопку */
  .meme:hover .meme-content {
    display: block;
    opacity: 1;
    border-radius: 50px ;
}

.meme1:not(:hover) {
    background-color: white;
  }

.meme:focus-within .meme-content{
    display: block;
    opacity: 1;
    cursor: pointer;
}
  /* ----------------------------------- */

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .header {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
  }